.container {
}
.block-container {
}
.block2rows {
	height: 40vh;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
	grid-template-rows: repeat(2, minmax(90px, auto));
	grid-auto-rows: 90px;
	column-gap: 10px;
	row-gap: 10px;
}
.block1row {
	display: grid;
	grid-template-columns: repeat(3, minmax(150px, 1fr));
	grid-template-rows: repeat(1, minmax(90px, auto));
	column-gap: 10px;
	row-gap: 10px;
}
.wrapper {
	margin: 10px;
	border: 1px solid darkgray;
	border-radius: 10px;
	box-shadow: 0 0 10px #5e5e5e;
}
.block-header {
	padding: 3px;
}
