/*.pl10 {
	padding-left: 10px;
}

.grid_wrapper {
	height: 70%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-auto-rows: 90px;
	column-gap: 10px;
	row-gap: 10px;
}

.container {
	display: flex;
	position: absolute;
	top: 70px;
	height: 70%;
}*/

.e0ijaifi {
	align-content: start;
	background-image: linear-gradient(rgb(63, 65, 64) 0%, rgb(63, 65, 64) 100%);
	height: 100%;
}

.e0f23bgz {
	background-image: linear-gradient(rgb(254, 254, 254) 0%, rgb(254, 254, 254) 100%);
	grid-auto-flow: column;
	height: 90px;
	justify-content: start;
	margin-left: -1px;
	margin-top: 20px;
	width: 1440px;
}

.e0ngigia {
	align-content: start;
	background-image: linear-gradient(rgb(121, 145, 157) 0%, rgb(121, 145, 157) 100%);
	height: 90px;
	margin-left: 1px;
	width: 125px;
}

.e0u6kfzh {
	align-content: start;
	background-image: linear-gradient(rgb(196, 23, 141) 0%, rgb(196, 23, 141) 100%);
	height: 90px;
	margin-left: 2px;
	width: 125px;
}

.e0t5c751 {
	align-content: start;
	background-image: linear-gradient(rgb(121, 145, 157) 0%, rgb(121, 145, 157) 100%);
	height: 90px;
	margin-left: 2px;
	width: 125px;
}

.e0a2pfu7 {
	grid-auto-flow: column;
	height: 95px;
	justify-content: start;
}

.e02jxvou {
	align-content: start;
	background-image: linear-gradient(rgb(121, 145, 157) 0%, rgb(121, 145, 157) 100%);
	height: 90px;
	margin-top: 5px;
	width: 510px;
}

.e0h9573l {
	align-content: start;
	background-image: linear-gradient(rgb(223, 227, 132) 0%, rgb(223, 227, 132) 100%);
	height: 89px;
	margin-left: 399px;
	margin-top: 6px;
	width: 128px;
}

.e01euj4e {
	grid-auto-flow: column;
	height: 639px;
	justify-content: start;
}


.e01hi5l9 {
	align-content: start;
	height: 639px;
	width: 193px;
}

.e04f5db1 {
	align-content: start;
	background-image: linear-gradient(rgb(121, 145, 157) 0%, rgb(121, 145, 157) 100%);
	height: 89px;
	margin-left: 3px;
	width: 190px;
}

.e0hg886u {
	align-content: start;
	background-image: linear-gradient(rgb(121, 145, 157) 0%, rgb(121, 145, 157) 100%);
	height: 88px;
	margin-left: 3px;
	margin-top: 3px;
	width: 190px;
}


.e0n7uco0 {
	align-content: start;
	background-image: linear-gradient(rgb(121, 145, 157) 0%, rgb(121, 145, 157) 100%);
	height: 89px;
	margin-left: 520px;
	margin-top: 3px;
	width: 190px;
}

.e0tqa88n {
	align-content: start;
	background-image: linear-gradient(rgb(32, 32, 32) 0%, rgb(32, 32, 32) 100%);
	height: 90px;
	margin-top: -2px;
	width: 1439px;
}
