<div class="container">
	<div class="block-container">
		<div class="wrapper">
			<div class="block-header">{{ block_header }}</div>
			<div class="block2rows">
				<app-orders-item *ngFor="let card of cards" [card_props]="card" (click)="click()"></app-orders-item>
			</div>
		</div>
		<div class="wrapper">
			<div class="block-header">{{ block_header }}</div>
			<div class="block1row">
				<app-orders-item *ngFor="let card of cards2" [card_props]="card"></app-orders-item>
			</div>
		</div>
		<div class="wrapper">
			<div class="block-header">{{ block_header }}</div>
			<div class="block1row">
				<app-orders-item *ngFor="let card of cards3" [card_props]="card"></app-orders-item>
			</div>
		</div>
	</div>
</div>
