.e0f23bgz {
	background-image: linear-gradient(rgb(254, 254, 254) 0%, rgb(254, 254, 254) 100%);
	grid-auto-flow: column;
	height: 90px;
	justify-content: start;
	margin-top: 20px;
	width: 1440px;
}

.e0ngigia {
	align-content: start;
	background-image: linear-gradient(rgb(121, 145, 157) 0%, rgb(121, 145, 157) 100%);
	height: 90px;
	width: 125px;
}

.e0u6kfzh {
	align-content: start;
	background-image: linear-gradient(rgb(196, 23, 141) 0%, rgb(196, 23, 141) 100%);
	height: 90px;
	margin-left: 2px;
	width: 125px;
}

.e0t5c751 {
	align-content: start;
	background-image: linear-gradient(rgb(121, 145, 157) 0%, rgb(121, 145, 157) 100%);
	height: 90px;
	margin-left: 2px;
	width: 125px;
}
