.wrapper {
	margin: 5px;
}
.card {
	border: 1px solid #5d6692;
	background: #c1c1c1;
	display: flex;
	justify-content: space-around;
}
.block2rows {
	height: 40vh;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
	grid-template-rows: repeat(2, minmax(90px, auto));
	grid-auto-rows: 90px;
	column-gap: 10px;
	row-gap: 10px;
}
